body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-200px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:200px;
  top:0px;
  width:800px;
  height:75px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:75px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:157px;
  width:110px;
  height:21px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:625px;
  width:800px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:620px;
  width:800px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u9 {
  position:absolute;
  left:300px;
  top:651px;
  width:210px;
  height:15px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:520px;
  top:651px;
  width:140px;
  height:15px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:700px;
  top:651px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:520px;
  top:667px;
  width:160px;
  height:15px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:700px;
  top:667px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:520px;
  top:683px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
