body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-160px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:160px;
  top:0px;
  width:800px;
  height:75px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:75px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:423px;
  top:12px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:481px;
  top:12px;
  width:221px;
  height:50px;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:418px;
  top:8px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:760px;
  width:800px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:755px;
  width:800px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u13 {
  position:absolute;
  left:260px;
  top:786px;
  width:210px;
  height:18px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:480px;
  top:786px;
  width:140px;
  height:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:660px;
  top:786px;
  width:200px;
  height:18px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:480px;
  top:802px;
  width:160px;
  height:18px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:660px;
  top:802px;
  width:200px;
  height:18px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:480px;
  top:818px;
  width:200px;
  height:18px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:160px;
  top:170px;
  width:800px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:520px;
  top:176px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:208px;
  top:258px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:460px;
  top:516px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:208px;
  top:516px;
  width:53px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:708px;
  top:516px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:208px;
  top:616px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:460px;
  top:616px;
  width:79px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:696px;
  top:616px;
  width:79px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:708px;
  top:406px;
  width:53px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:222px;
  top:468px;
  width:27px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:478px;
  top:468px;
  width:40px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:220px;
  top:298px;
  width:27px;
  height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:208px;
  top:668px;
  width:53px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:472px;
  top:668px;
  width:53px;
  height:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:222px;
  top:566px;
  width:27px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:214px;
  top:406px;
  width:40px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:472px;
  top:406px;
  width:53px;
  height:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:510px;
  top:720px;
  width:100px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:282px;
  top:254px;
  width:200px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:282px;
  top:294px;
  width:629px;
  height:86px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:86px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:282px;
  top:402px;
  width:133px;
  height:26px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:548px;
  top:402px;
  width:133px;
  height:26px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:778px;
  top:402px;
  width:133px;
  height:26px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:282px;
  top:464px;
  width:133px;
  height:26px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:548px;
  top:464px;
  width:133px;
  height:26px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:282px;
  top:512px;
  width:133px;
  height:26px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:549px;
  top:512px;
  width:133px;
  height:26px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:778px;
  top:508px;
  width:133px;
  height:26px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:282px;
  top:562px;
  width:133px;
  height:26px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:282px;
  top:612px;
  width:133px;
  height:26px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:549px;
  top:612px;
  width:133px;
  height:26px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:778px;
  top:612px;
  width:133px;
  height:26px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:282px;
  top:664px;
  width:133px;
  height:26px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78 {
  position:absolute;
  left:549px;
  top:664px;
  width:133px;
  height:26px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
