body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-160px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:160px;
  top:0px;
  width:800px;
  height:75px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:75px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:423px;
  top:12px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:481px;
  top:12px;
  width:221px;
  height:50px;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:418px;
  top:8px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:870px;
  width:800px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:865px;
  width:800px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u13 {
  position:absolute;
  left:260px;
  top:896px;
  width:210px;
  height:18px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:480px;
  top:896px;
  width:140px;
  height:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:660px;
  top:896px;
  width:200px;
  height:18px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:480px;
  top:912px;
  width:160px;
  height:18px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:660px;
  top:912px;
  width:200px;
  height:18px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:480px;
  top:928px;
  width:200px;
  height:18px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:160px;
  top:170px;
  width:800px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:520px;
  top:176px;
  width:80px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:208px;
  top:336px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:460px;
  top:594px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:208px;
  top:594px;
  width:53px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:708px;
  top:594px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:208px;
  top:694px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:460px;
  top:694px;
  width:79px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:696px;
  top:694px;
  width:79px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:708px;
  top:484px;
  width:53px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:222px;
  top:546px;
  width:27px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:478px;
  top:546px;
  width:40px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:220px;
  top:376px;
  width:27px;
  height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:208px;
  top:746px;
  width:53px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:472px;
  top:746px;
  width:53px;
  height:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:222px;
  top:644px;
  width:27px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:214px;
  top:484px;
  width:40px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:472px;
  top:484px;
  width:53px;
  height:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:282px;
  top:330px;
  width:180px;
  height:30px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:268px;
  top:376px;
  width:506px;
  height:78px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:78px;
}
#u65 {
  position:absolute;
  left:2px;
  top:31px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:282px;
  top:480px;
  width:133px;
  height:26px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u67 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:548px;
  top:480px;
  width:133px;
  height:26px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u69 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:778px;
  top:480px;
  width:133px;
  height:26px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:282px;
  top:542px;
  width:133px;
  height:26px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u73 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:282px;
  top:590px;
  width:133px;
  height:26px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u75 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:282px;
  top:640px;
  width:133px;
  height:26px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u77 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:282px;
  top:690px;
  width:133px;
  height:26px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u79 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:282px;
  top:742px;
  width:133px;
  height:26px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:548px;
  top:542px;
  width:133px;
  height:26px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u83 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:548px;
  top:590px;
  width:133px;
  height:26px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u85 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:548px;
  top:690px;
  width:133px;
  height:26px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u87 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:548px;
  top:742px;
  width:133px;
  height:26px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u89 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:778px;
  top:590px;
  width:133px;
  height:26px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u91 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:778px;
  top:690px;
  width:133px;
  height:26px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
}
#u93 {
  position:absolute;
  left:2px;
  top:5px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:794px;
  top:820px;
  width:100px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
