body {
  margin:0px;
  background-image:url('../../images/teacher-1-1/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-200px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:200px;
  top:0px;
  width:800px;
  height:75px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:75px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:463px;
  top:12px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:521px;
  top:12px;
  width:221px;
  height:50px;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Negreta', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:50px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:458px;
  top:8px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:625px;
  width:800px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:620px;
  width:800px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u13 {
  position:absolute;
  left:300px;
  top:651px;
  width:210px;
  height:15px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:520px;
  top:651px;
  width:140px;
  height:15px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:700px;
  top:651px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:520px;
  top:667px;
  width:160px;
  height:15px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:700px;
  top:667px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:520px;
  top:683px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:224px;
  top:423px;
  width:33px;
  height:38px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:200px;
  top:370px;
  width:800px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u28 {
  position:absolute;
  left:200px;
  top:183px;
  width:150px;
  height:200px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u29 {
  position:absolute;
  left:2px;
  top:92px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:200px;
  top:200px;
  width:140px;
  height:150px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
}
#u31 {
  position:absolute;
  left:2px;
  top:67px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:430px;
  top:150px;
  width:37px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:430px;
  top:170px;
  width:53px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:420px;
  top:239px;
  width:53px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:527px;
  top:210px;
  width:53px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:200px;
  top:150px;
  width:800px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:200px;
  width:570px;
  height:150px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:150px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:432px;
  top:210px;
  width:37px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:527px;
  top:239px;
  width:69px;
  height:23px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:432px;
  top:268px;
  width:37px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:527px;
  top:268px;
  width:96px;
  height:23px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:432px;
  top:297px;
  width:37px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:527px;
  top:297px;
  width:134px;
  height:23px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:23px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:410px;
  top:326px;
  width:69px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:527px;
  top:326px;
  width:106px;
  height:23px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:23px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:548px;
  top:155px;
  width:105px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:200px;
  top:403px;
  width:140px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u64 {
  position:absolute;
  left:2px;
  top:34px;
  width:136px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:590px;
  top:403px;
  width:140px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u66 {
  position:absolute;
  left:2px;
  top:34px;
  width:136px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:205px;
  top:513px;
  width:140px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:136px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:590px;
  top:513px;
  width:140px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u70 {
  position:absolute;
  left:2px;
  top:34px;
  width:136px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:860px;
  top:320px;
  width:105px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:2px;
  top:5px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:200px;
  top:75px;
  width:800px;
  height:40px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:40px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:240px;
  top:85px;
  width:80px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u76_img.mouseOver {
}
#u76.mouseOver {
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:200px;
  top:115px;
  visibility:hidden;
}
#u78_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u82 {
  position:absolute;
  left:2px;
  top:47px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:40px;
  top:15px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:40px;
  top:35px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:40px;
  top:55px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u78_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u90 {
  position:absolute;
  left:2px;
  top:47px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:200px;
  top:15px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:200px;
  top:35px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u93_img.mouseOver {
}
#u93.mouseOver {
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u78_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u97 {
  position:absolute;
  left:2px;
  top:47px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:360px;
  top:15px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u98_img.mouseOver {
}
#u98.mouseOver {
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:360px;
  top:35px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u100_img.mouseOver {
}
#u100.mouseOver {
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u103 {
  position:absolute;
  left:360px;
  top:55px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u78_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u107 {
  position:absolute;
  left:2px;
  top:47px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:520px;
  top:15px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u111 {
  position:absolute;
  left:520px;
  top:35px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u78_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u78_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:110px;
}
#u115 {
  position:absolute;
  left:2px;
  top:47px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:660px;
  top:15px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u116_img.mouseOver {
}
#u116.mouseOver {
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:-5px;
  width:800px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u119 {
  position:absolute;
  left:400px;
  top:85px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u119_img.mouseOver {
}
#u119.mouseOver {
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:560px;
  top:85px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:720px;
  top:85px;
  width:80px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:860px;
  top:85px;
  width:80px;
  height:20px;
  font-family:'', '隶书 Regular', '隶书';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
