body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-200px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:200px;
  top:0px;
  width:800px;
  height:75px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:75px;
}
#u2 {
  position:absolute;
  left:2px;
  top:30px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:140px;
  width:80px;
  height:16px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:280px;
  top:133px;
  width:190px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:200px;
  top:200px;
  width:80px;
  height:16px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:280px;
  top:193px;
  width:190px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:257px;
  width:80px;
  height:16px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:280px;
  top:250px;
  width:190px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:312px;
  width:80px;
  height:16px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:280px;
  top:305px;
  width:190px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:357px;
  width:130px;
  height:16px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:370px;
  top:352px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:200px;
  top:400px;
  width:80px;
  height:16px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:280px;
  top:396px;
  width:190px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:810px;
  top:485px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:200px;
  top:625px;
  width:800px;
  height:100px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:200px;
  top:620px;
  width:800px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u30 {
  position:absolute;
  left:300px;
  top:651px;
  width:210px;
  height:15px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:520px;
  top:651px;
  width:140px;
  height:15px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:700px;
  top:651px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:520px;
  top:667px;
  width:160px;
  height:15px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:700px;
  top:667px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:520px;
  top:683px;
  width:200px;
  height:15px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
